[package]
name = "glam"
version = "0.4.2" # remember to update html_root_url
edition = "2018"
authors = ["Cameron Hart <cameron.hart@gmail.com>"]
description = "A simple and fast 3D math library for games and graphics"
repository = "https://github.com/bitshifter/glam-rs"
readme = "README.md"
license = "MIT OR Apache-2.0"
keywords = ["gamedev", "math", "matrix", "vector", "quaternion"]
categories = ["game-engines"]

[badges]
travis-ci = { repository = "bitshifter/glam-rs" }
coveralls = { repository = "bitshifter/glam-rs" }
maintenance = { status = "experimental" }

[features]
default = ["approx", "rand", "serde"]

# this is primarily for testing the fallback implementation
scalar-math = []

# trying out transform types instead of matrices but they are generally slower
# at everything except for inverse. They are 16 bytes smaller than a Mat4.
transform-types = []

[dependencies]
# TODO: make this dev only
approx = { version = "0.3", optional = true }
rand = { version = "0.6", optional = true }
serde = { version = "1.0", optional = true, features = ["derive"] }

[dev-dependencies]
approx = "0.3"
criterion = "0.2"
rand_xoshiro = "0.1"
serde_json = "1.0"

[[bench]]
name = "mat4"
harness = false
required-features = ["transform-types"]

[[bench]]
name = "quat"
harness = false

[[bench]]
name = "transform"
harness = false
required-features = ["transform-types"]

[[bench]]
name = "vec2"
harness = false

[[bench]]
name = "vec3"
harness = false
required-features = ["transform-types"]
